.card {
    height: 135px;
    width: 365px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.53);
    box-sizing: border-box;

}

.icon img {
    width: 60px;
}

.project_text {
    padding: 1rem;
    height: inherit;
    box-sizing: border-box;
}
.project_name {
    font-size: 1.3rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
}

.project_desc {
    margin-top: 10px;
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
}

.mobile_links {
    display: none;
}

@media screen and (max-width: 900px) {
    .card {
        height: 200px;
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
    }

    .icon {
        display: none;
    }

    .project_name {
        color: var(--text);
        /* color: white; */
        font-weight: 500;
        margin: 1rem 0;
    }

    .mobile_links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .mobile_links a {
        height: fit-content;
        margin: 2rem 0;
    }

    .mobile_links .img2 {
        height: 22px;
        width: 22px;
    }
    
}